@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
}
a{
    text-decoration: none;
}

*:active{
    outline: none;
    border: none;
}
select{
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
}
header{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 56vh;
}

/* navigation bar */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 12px 0px;
    width: 95%;
    margin: 0px auto;
}

.get-app img{
    padding-right: 5px;
    width: 15px;
    margin-bottom: 2px;
}
.get-app{
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}
nav div.profile{
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid;
    border-color: white;
}
.profile i{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 1px;
    color: #ed5a6b;
}
.nav-items{
    display: none;
}
/* nav div.nav-items{
    display: flex;
    align-items: center;
}
.login{
    padding-right: 30px;
}

.nav-items{
    font-size: 20px;
    letter-spacing: 1px;
} */
/* header content */
div.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* width: 95%; */
    height: 78%;
    margin: 39px auto;

}
.logo{
    width: 135px;
}
.content h6{
    font-weight: 500;
    font-size: 18px;
    color: white;
    /* letter-spacing: 1px; */
    text-align: center;
}
.content h6 b{
    font-weight: 500;
}

@media (max-width: 768px){
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .location-select{
        width: 92vw;
        height: 45px;
        background-color: #fff;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .search-box{
        width: 92vw;
        height: 45px;
        background-color: #fff;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .seperator{
        display: none;
    }
    .search-box input {
        align-self: center;
        font-size: 13px;
        width: 90vw;
        padding-left: 5px;
    }
    .location-select select {
        /* position: relative; */
        font-weight: 500;
        /* flex-grow: 1; */
        font-size: 12px;
        color: black;
        /* padding-right:180px; */
        margin: 0px auto;
    }
    .app-img{
        visibility: hidden;
    }
    .app-img img{
        width: 0px;
    }
}

div.form-container i {
    margin: 15px;
}
div.location-select i.fa-map-marker-alt{
    color: #ed5a6b;
}
div.location-select i.fa-sort-down{
    padding-bottom: 5px;
}
div.search-box i {
    color: #808282b7;
}



/* popular localities section */

section.nearby{
    min-height: 25vh;
    width: 95vw;
}
.popular-localities h1{
    /* text-align: center; */
    /* width: 0px auto; */
    font-weight: 500;
    font-size: 17px;
    color: #363636;
    /* letter-spacing: 1px; */
    margin-top: 20px;
    margin-left: 8%;
}
.popular-localities b{
    font-weight: 600;
}
section.nearby div.box {
    /* max-width: 100%; */
    width: 90%;
    margin-left: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 15px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 8px;
    margin-top: 5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 3px 0px;
    border: solid 1.5px;
    border-color: #e8e8e8;
    /* letter-spacing: 1px; */
}
section.nearby div.box:hover {
    box-shadow: rgba(80, 55, 55, 0.24) 0px 3px 8px;
    cursor: pointer;
}
div.box i{
    font-size: 12px;
}
/* div.box{
    margin-left: 10%;
} */

/* Get app */

.app{
    min-height: 300px;
    background-color: #fffbf7;
}
@media (max-width: 768px){
    .app-container{
        width: 85vw;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .form{
        /* max-width: 485px; */
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

/* .app div.container img{
    margin-top: 2rem;
    max-width: 250px;
    display: block;
} */

    .app-container h1{
        color: #1c1c1c;
        font-size: 30px;
        font-weight: 500;
        /* letter-spacing: 2px; */
    }
    .app-container p{
        text-align: center;
        /* width: 400px; */
        /* color: #393737; */
        font-size: 16px;
        /* line-height: 2rem; */
        display: block;
        font-weight: 300;
        margin: 20px 0;    
    }
    .radio {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 20px;
        /* letter-spacing: .5px; */
    }
    .download {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px 0px;
        font-weight: 200;
        color: rgb(92, 92, 92);
    }
    .store{
        /* width: 90vw; */
        margin: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* radio button */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ed5a6b;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #ed5a6b;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

section.app div.input{
    width: 100%;
    display: flex;
    align-items: center;
    height: 55px;
}
section.app div.input input{
    background-color: white;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 10px;
    height: 95%;
    width: 75%;
    margin-right: 10px;
}
section.app div.input ::placeholder{
    color: #cfcfcf;
}
section.app div.input button.d{
    display: none;
}
section.app div.input button{
    height: 95%;
    width: 25%;
    background-color: #ed5a6b;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
}

section.app div.form div.download div.store img {
    width: 160px;
    display: flex;
    padding: 10px;
    /* margin: 5px 20px 10px 0px; */
}

/* options */

section.options {
    min-height: 60vh;
    /* margin-bottom: 40px; */
}

section.options div.container {
    width: 88%;
    margin: 0px auto;
    gap: 20px;
    /* margin-bottom: 20px; */
}
@media (max-width: 768px){
    .container h2 {
        font-size: 22px;
        font-weight: 500;
        color: #1c1c1c;
        margin-bottom: 20px;
        /* letter-spacing: 2px; */
    }

    .container h3 {
        font-size:20px;
        font-weight: 500;
        /* width: 95vw; */
        /* letter-spacing: 2px; */
    }


/* section.options div.container div {
    margin: 40px 0px;
} */

    .items{
        margin: 25px 0px 40px 0px;
        display: flex;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        line-height: 22px;
        letter-spacing: 1%;
        /* justify-content: center; */
    }

/* section.options div.container div ul li {
    margin: 3px 10px;
    color: rgb(150, 150, 150);
    font-size: 10px;
    font-weight: 100;
} */
/* section.options div.container div a :hover{
    color: #1c1c1c;
    text-decoration: none;
} */
    .items a{
        color: rgb(106, 106, 106);
        margin-right: 8px;
        font-weight: 300;
        font-size: 13px;
    }
    .items span{
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: rgb(106, 106, 106);
        margin-right: 8px;
    }
}

/* footer */
footer{
    background-color: #f8f8f8;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px){
    .f1{
        width: 92%;
        padding: 50px 0px 0px 0px;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: space-between; */
    }
    .f1 img{
        width: 120px;
        margin-bottom: 40px;
    }


    .dropdowns{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .lang{
        border: 1px solid #b7b7b7;
        border-radius: 7px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 5px;
    }
    .lang select{
        max-width: 100px;
    }
    .country{
        /* border: none;
        outline: none; */
        border: 1px solid #b7b7b7;
        border-radius: 7px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 5px;
    }
    .country select{
        max-width: 100px;
        
    }
    .f2{
        width: 92%;
        margin: 0px auto;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        /* align-self: flex-start; */
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .company ul{
        width: 42vw;
        list-style: none;
        margin-bottom:30px;
    }
    .company a{
        text-decoration: none;
        color: grey;
    }
    .company li{
        padding: 2px 0px;
        font-size: 13px;
    }
    .company ul p{
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 0px 0px 12px 0px;
    }
    /* for-foodies */
    .for-foodies ul{
        list-style: none;
        width: 42vw;
        margin-bottom:30px;
    }
    .for-foodies a{
        text-decoration: none;
        color: grey;
    }
    .for-foodies li{
        padding: 6px 0px;
        font-size: 13px;
    }
    .for-foodies ul p{
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 0px 0px 12px 0px;
    }
    /* for-restaurants */
    .for-restaurants ul{
        list-style: none;
        width: 42vw;
        margin-bottom:30px;
    }
    div.f2 div.for-restaurantsi a{
        text-decoration: none;
        color: grey;
    }
    .for-restaurants li{
        padding: 6px 0px;
        font-size: 13px;
    }
    .for-restaurants ul p{
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 0px 0px 12px 0px;
    }
    /* for-you */
    .for-you ul{
        list-style: none;
        width: 42vw;
        margin-bottom:30px;
    }
    .for-you a{
        text-decoration: none;
        color: grey;
    }
    .for-you li{
        padding: 6px 0px;
        font-size: 13px;
    }
    .for-you ul p{
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 0px 0px 12px 0px;
    }
    /* social */
    .social{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    p.d{
        /* visibility: hidden; */
        display: none;
    }
    .stores{
        display: flex;
        gap: 12px;
        /* flex-direction: column; */
    }
    .icons img{
        /* padding: 10px 0px; */
        width: 30px;
    }
    .stores img{
        /* padding: 10px 0px; */
        width: 40%;
        margin: 0px auto;
    }
    /* f3 */
    .f3{
        width: 95%;
        height: 40vh;
        margin: 0px auto;
        border-top: rgb(150, 150, 150) solid 1px;
    }
    .f3 p{
        font-size: 13px;
        /* color: #1c1c1c; */
        margin-top: 1.5rem;
        line-height: 15px;
        font-weight: 280;
    }
}

/* for medium screens */
@media (min-width: 768px){
    .content{
        /* background-color: red; */
        max-height: 60%;
    }
    .get-app{
        display: none; 
    }
    .profile{
        display: none;
    }
    .menu i{
        font-size: 22px;
        margin-top: 10px;
    }
    nav{
        width: 92%;
    }
    .logo{
        width: 280px;
    }
    .content h6 {
        width: 95vw;
        font-size: 35px;
        font-weight: 400;
    }
    .content h6 br{
        display: none;
    }
    .form-container {
        width: 95%;
        height: 50px;
        background-color: #fff;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        /* justify-content: center; */
    }
    .form-container div{
        display: flex;
        align-items: center;
        height: 50px;
        margin: 0px 5px;
    }
    .seperator{
        display: inline;
        min-width: 2px;
        max-height: 40%;
        background-color: #cfcfcf;
    }
    .search-box input{
        width: 100%;
        flex-grow: 1;
        /* align-self: center; */
    }
    .location-select{
        /* background-color: red; */
        width: 40%;
        margin-left: 0px;
    }
    .location-select select {
        width: 100%;
        flex-grow: 1;
    }
    .popular-localities{
        min-width: 98vw;
    }
    .popular-localities h1{
        font-size: 35px;
        background-color: white;
        margin-left: 2%;
        text-align: center;
    }
    .box{
        /* margin-left: 2%; */
        max-width: 30%;
        min-height: 65px;
    }
    .app{
        min-width: 95vw;
        margin: 0px auto;
        /* display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px; */
    }
    .app{
        display: flex;
        flex-direction: row;
    }
    .app-img{
        visibility: visible;
    }
    .app-img img{
        margin-top: 100px;
        min-width: 250px;
        margin-left: 40%;
    }
    .form{
        max-width: 45vw;
        margin-right: -20%;
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* justify-content: flex-start; */
    }
    .form h1{
        font-size: 28px;
        letter-spacing: 0px;
    }
    .form p{
        text-align: left;
        width: 70%;
    }
    .download{
        display: flex;
        align-items: flex-start;
    }
    .store{
        margin-left: -10px;
    }
    .container{
        min-width: 92%;
    }
    .container h2{
        font-size: 28px;
    }
    .container h3{
        font-size: 23px;
    }
    .items{
        line-height: 28px;
    }
    .items a{
        font-size: 16px;
    }
    .f1{
        width: 95vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .f1 img{
        min-width: 150px;
    }
    .dropdowns{
        margin-top: -30px;
    }
    .dropdowns i{
        margin-bottom: 8px;
    }
    .f2{
        overflow: hidden;
        width: 95vw;
        flex-wrap: nowrap;
    }
    .company{
        max-width: 20%;
    }
    .for-foodies{
        max-width: 20%;
    }
    .for-restaurants{
        max-width: 20%;
    }
    .for-you{
        padding-left: 6%;
        max-width: 20%;
    }
    .social{
        flex-direction: column;
    }
    p.d{
        display: flex;
        max-width: 120px;
        font-weight: 500;
    }
    p.p{
        display: none;
    }
    .stores{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .stores img{
        width: 99%;
    }
    .f3{
        max-height: 18vh;
    }
}

